.card {
    width: 100%;
    height: 300px;
    margin: 30px;
    background: #FF5335;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #EFF9F0;
    border-radius: 15px;
    box-shadow: -20px 20px 0px -5px #d93f23;
  }
  .card__tags {
    overflow: visible;
    height: 80%;
  }
  .title {
    font-weight: 900;
    font-size: 1.7em;
  }
  
  .tag__name {
    display: inline-block;
    color: #fff;
    font-size: 1.1em;
    background-color: #d93f23;
    padding: 6px 23px 9px;
    border-radius: 70em;
    margin: 8px 6px 8px 0;
    margin-left: 0px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .tag__name::before,
  .tag__name::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #EFF9F0;
  }
  
  .tag__name::before {
    left: 7px;
  }
  
  .tag__name::after {
    right: 7px;
  }
  
  .tag__name:hover {
    transform: scale(1.1);
    background-color: #bb2e16;
  }
  